footer#footer Copyright © 2016 StoreGram.Ru
    ul.f-menu
        li
            a(href="") Главная
        li
            a(href="") Добавить в каталог
        li
            a(href="") Контакты
    a(
        href="" 
        target="_blank"
    )
        img(
            src="img/logo.gif" 
            border="0" 
            width="31" 
            height="31" 
            alt="" 
            title="LiveInternet"
        ) 
    |  StoreGram.ru - крупнейший каталог ботов, каналов, стикеров, групп и чатов для Телеграм. Вы всегда можете бесплатно добавить себе все боты телеграм из нашего каталога. Боты не используются для накручивания трафика и спама и работают через официальный API Telegram. А также, на данном сайте вы сможете найти самые интересные каналы для Телеграм. В нашем каталоге собраны все популярные стикеры для Телеграм.