section#main
    aside#sidebar.sidebar.c-overflow
        ul.main-menu
            li.visible-xs(
              data-ma-action="sidebar-close"
            )
                a(
                  href="#modalDefault"
                  data-toggle="modal"
                ) Войти
                    i.mdi.mdi-login
            hr.m-t-5.m-b-5.visible-xs(
                style="border-color: #3a6d99; border-width: 3px;"
            )

            li
                a(href="") Главная
                    i.mdi.mdi-home
            hr.m-t-5.m-b-5
            li
                a(href="") Топ
                    i.mdi.mdi-trophy
            li
                a(href="") Новые
                    i.mdi.mdi-new-box
            hr.m-t-5.m-b-5
            li
                a(href="") Боты
                    i.mdi.mdi-android
            li
                a(href="") Каналы
                    i.mdi.mdi-bullhorn
            hr.m-t-5.m-b-5
            li.sub-menu
                a(
                    href=""
                    data-ma-action="submenu-toggle"
                ) Категории
                    i.mdi.mdi-folder-multiple
                ul
                    li
                        a(href="") Textual menu
                        a(href="") Textual menu
                        a(href="") Textual menu
            hr.m-t-5.m-b-5
