div.modal.fade#modalDefault(
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
)
  div.modal-dialog
    div.modal-content
      div.modal-header.text-center
        h4.modal-title Авторизация
      div.modal-body
        div(
          style="width: 271px;margin: auto;"
        )
          a(
            class="addto"
            style="float: left;"
            target="_blank"
            href="https://telegram.me/StoreGramBot?start=1ENtGUBYixf"
          ) Войти через
          div(
            style="padding: 5px; padding-left: 140px;font-size: larger;"
          )
            span и нажмите START
        hr
        div.text-center(
          style="font-size: larger;"
        )
          span Или отправьте данное сообщение
            a(
              href="" style="color: #40aada;"
              target="_blank"
            )  @StoreGramBot
            |  для авторизации:
          blockquote.m-t-10 start
      div.modal-footer
